#root {
    height: 100vh;
}
.app__grid-container {
    display: grid;
    grid-template-columns: 330px 1fr 330px;
    grid-template-rows: 1fr 68px;
}

.app__config-area {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0) 3%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 97%,
        rgba(0, 0, 0, 0.2)
    );
}
